.button-navbar {
  position: fixed;
  right: 48px;
  top: 48px;
}

.btn-m8 {
  margin: 8px;
}

.rooms-list {
  margin-top: 16px;
  margin-bottom: 16px;
}

.score-btn {
  margin: 4px;
  max-width: 48px;
  min-width: 48px;
  max-height: 64px;
  min-height: 64px;
}

.action-btn-container {
  padding: 16px;
}

.action-btn {
  max-width: 144px;
  min-width: 144px;
  max-height: 48px;
  min-height: 48px;
}

.part-groups {
  margin-top: 16px;
}